
/* navbar */
.navbar {
    z-index: 999;
}


.navbar-brand,
.nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7)
}

.navbar-brand {
    font-family: viga;
    font-size: 32px;

}


/*rating star*/
  .stars-outer {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.tittle-star{
  padding-top: 20px;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}


/*parallax*/

.carousel-caption{
    min-height: 200px;
}

.carousel .carousel-item {
  height: 25em;
}
.carousel .carousel-item > *:first-child {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
}



/* ==============================================================
   ABOUT WELCOME
   ============================================================== */
.welcome_about {
  padding: 98px 0; }
  .welcome_about h2 {
    font-weight: 600;
    color: #2d2d2d;
    margin: 0 0 28px; }
  .welcome_about p {
    color: #2d2d2d;
    line-height: 1.8; }
  .welcome_about img {
    width: 100%; }


/*
 * CONTACT US
 ********************************/
/* ==============================================================
   CONTACT US
   ============================================================== */
.contact {
  padding: 98px 0 0; }

.contact-title h2 {
  font-weight: 700;
  text-align: center;
  margin: -50px 0 24px; }

.contact-form {
  background: #4dc3ff;
  position: relative;
  z-index: 0; }
  .contact-form h3 {
    font-weight: 700;
    color: #fff;
    margin: 0 0 24px; }

.btn-submit {
  border: 3px solid #007bff;
  color: #fff;
  padding: 13px 44px;
  font-size: 15px;
  margin: 8px 0 0; }

.btn-submit:hover {
  border: 3px solid #fff;
  background: #fff;
  color: #cbb58b;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.contact-option {
  border-right: 1px solid #0099e6;
  padding: 45px 64px; }
  .contact-option .form-control {
    border-color: transparent; }

.contact-address {
  padding: 45px 50px; }
  .contact-address h3 {
    font-weight: 700;
    margin: 0 0 24px; }

.contact-details i {
  color: #fff;
  float: left; }

.contact-details h6 {
  font-size: 19px;
  color: #fff;
  padding: 0 30px 0 30px; }

.contact-details p {
  color: #fff4e0;
  padding: 0 30px 0 30px; }

.contact-center {
  background: #0099e6;
  border-radius: 50%;
  text-align: center;
  width: 44px;
  height: 44px;
  padding: 10px 0;
  color: #fff;
  margin: 0 auto;
  top: -17em;
  position: relative;
  z-index: 10; }

#map {
  height: 620px;
  width: 100%;
  margin: -250px 0 0; }

@media (max-width: 767px) {
  .contact-option {
    border: 0;
    padding: 20px 15px; }
  .contact-option_rsp {
    border-bottom: 1px solid #0099e6;
    padding: 5px 25px 30px; }
  .contact-center {
    display: none; } }


/* jumbotron */
.jumbotron {
    background-image: url(../img/mesin.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-5 {
    color: white;
    margin-top: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 5px;
    margin-bottom: 30px;
}

.jumbotron .display-5 span{
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 12px;
    letter-spacing: 2px; 
    border: 2px solid black;
} 

.jumbotron .display-4 {
    color: white;
    margin-top: 150px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 40px;
    margin-bottom: 30px;
}


.jumbotron .display-4 span {
    font-weight: 500;
}


/* info panel */
.info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -100px;
    background-color: white;
    padding: 30px;
}

.info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;

}

.info-panel p {
    font-size: 14px;
    color: #acacac;
    margin-top: -5px;
    font-weight: 200;

}

/* workingspace */
.workingspace {
    margin-top: 120px;
    text-align: center;
}



.workingspace h3 {
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 30px;
}

.workingspace h3 span {
    font-weight: bold;
}


.workingspace p {
    font-size: 18px;
    color: #acacac;
    font-weight: 200;
    margin: 30px 0;
}



/* testimonial */
/*.testimonial {
    margin-top: -150px;
    margin-bottom: -50px;

}
*/
.testimonial h5 {
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 24px;
}


.testimonial figure img {
    width: 60px;
    margin: 20px 10px 10px;
    opacity: 0.6;
}


.testimonial figure img.utama {
    width: 90px;
    opacity: 1;
    margin-top: 5px;
}

.testimonial figure h5 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #1C2C5D;
}

.testimonial figure p {
    font-size: 12px;
    color: #acacac;
    margin-top: -5px;
    text-align: center;
}


  /*judul layanan index*/
  .judul-icon{
      margin-left: 25px;
  }


/* footer */
.footer{
    margin-top: 100px;
    background-color: #1e1f29;
    padding-top: 20px;
}

.footer p {
    color: #acacac;
    font-size: 18px;
}

  .footer-top{
    background-color: #15161d;
    padding: 40px; 
    margin-top: 30px;
    z-index: 0;
}

.footer-left a{
    margin-right: 80px;
    color: white;
}

.footer-left:hover a{
    text-decoration: none;
    color: #007bff;
}

.footer-left-1 a{
    margin-right: 10px;
    color: white;
}

.footer-left-1:hover a{
    text-decoration: none;
    color: #007bff;
}

  #particles-js{
    background-color: black;
    
  }

/*pesan*/

.fixed-positioning {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.chat-box {
  width: 320px;
/*   border-radius: 3px; */
  box-shadow: -5px 10px 50px -10px rgba(0,0,0,0.4);
  background: #fff;
  overflow: hidden;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff;
  background: #00a1ff;
}

.chat-header button {
  color:#fff;
  background: transparent;
  padding: 3px;
  border: 1px solid #fff;
  border-radius: 3px;
  cursor:pointer;
}

.chat-content {
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  transition: 1s ease-in-out;
}

.chat-content.active {
  padding: 15px 15px;
}

.chat-title {
  margin-bottom: 15px;
  text-align: center;
}

.chat-form {
  padding: 15px;
}

.chat-box input,
.chat-box textarea,
.chat-box label,
.chat-box button[type=submit] {
  display: block;
  width: 100%
}

.chat-box input,
.chat-box textarea {
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #b7b5b5;
  margin-bottom: 15px;
}

.chat-box textarea {
  min-height: 50px;
}

.chat-box label {
  color: #928f8f;
  font-size: 13px;
  margin-bottom: 2px;
}

.chat-box label span {
  color: #f00;
}

.chat-box button[type=submit] {
  -webkit-appearance: none;
  border-radius: 2px;
  background-clip: padding-box;
  background-color: #007bff!important;
  box-shadow: 0 2px 0 rgba(0,0,0,.1), inset 0 -3px 0 rgba(129,163,48,.3);
  font-size: 14px;
  color: #fff;
  padding: 9px 6px 11px;
  width: 100%;
  border: 0;
  cursor: pointer;
}



/*barang*/
/* Global "table" column settings */
.product-image {
    float: left;
}

.product-details {
    float: left;
}

.product-price {
    float: left;
}

.product-quantity {
    float: left;
}

.product-removal {
    float: left;
}

.product-line-price {
    float: left;
    text-align: right;
}

/* This is used as the traditional .clearfix class */
.group:before,
.shopping-cart:before,
.column-labels:before,
.product:before,
.totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
    content: '';
    display: table;
}

.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
    clear: both;
}

.group,
.shopping-cart,
.column-labels,
.product,
.totals-item {
    zoom: 1;
}
/* Column headers */
.column-labels label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.column-labels .product-image,
.column-labels .product-details,
.column-labels .product-removal {
    text-indent: -9999px;
}
/* Product entries */
.product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.product .product-image {
    text-align: center;
}

.product .product-image img {
    width: 100px;
}

.product .product-details .product-title {
    margin-right: 20px;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}

.product .product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
}

.product .product-quantity input {
    width: 40px;
}

.product .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #007bff;
    color: #fff;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
    font-size: 12px;
    border-radius: 3px;
}

.product .remove-product:hover {
    background-color: #4da6ff;
}

/* Totals section */
.totals .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}

.totals .totals-item label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
}

.totals .totals-item .totals-value {
    float: right;
    margin-top: -40px;
}

.totals .totals-item-total {
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}


  /*slider layanan*/
  .caraousel img{
      height: 200px;
    }

  .bintang{
      margin-top: -30px;
    }

    .product-price{
        margin-top: 1px;
        padding-right: 100px;
    }



/* utility/semua */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

/* Make more adjustments for phone */
@media screen and (max-width: 350px) {

    /*layanan laundry*/
    .qtyminus{
        margin-top: 44px;
    }

    .qtyplus{
      margin-top: 10px;
    }


    .tampilnama{
      font-size: 15px;
      width: 30%;
      margin-bottom: -10px;
    }

    .tampilharga{
      font-size: 15px;
      padding-top: 20px;
      width: 30%;
    }

    .error{
      margin-top: -80px;
    }

    .total-price{
      font-size: 15px;
      margin-bottom: 20px;
    }

    .product-image{
      margin-bottom: 20px;
    }

    .total-price{
      width: 30%;
      margin-top: 70px;
      margin-left: 50px;
    }



    /*buat navbar cek pemesanan */
    .cek-pesan{
      margin-bottom: 10px;
    }




    .product-removal {
        float: right;
    }

    /*profil*/
  
   .profil_saya{
      position: relative;
      left: 10%;
    }
    
    .ganti_foto{
      position: relative; 
      top: 30%;
    }
  
    .tentang_saya{
      margin-top: 10px;
    }


    .product-line-price {
        float: right;
        margin-top: 1px;
        padding-left: 65px;
    }

    .product-price{
        margin-top: 1px;
        padding-right: 50px;
    }

    .product-quanti
    .product .product-price:before {
        content: 'Rp.';
      }

    .product .product-line-price:before {
        content: 'Item Total: Rp.';
    }

    .totals .totals-item label {
        width: 10%;
    }

    .totals .totals-item .totals-value {
        width: 30%;
    }

    .totals .totals-item .totals-value:before {
        content: 'Rp.'
    }

    /*list item satuan*/

    

    .judul-icon{
      margin-left: 40px;
    }

    .tombol-icon{
      margin-right: 40px;
      margin-top: 20px;
    }

    .icon1:before{
        color: blue;
    }

    .icon2:before{
        color: blue;
    }

    .icon3:before{
      color: blue;
    }


    /*caraousel*/
    .caraousel img{
      height: 200px;
    }
    
   
    
}

/*buat navbar cek pemesanan*/
@media screen and (max-width: 414px) {
    .cek-pesan{
      margin-bottom: 10px;
    }

 } 


@media screen and (max-width: 360px) {
    
     /*layanan laundry*/
    .qtyminus{
        margin-top: 44px;
    }

    .qtyplus{
      margin-top: 10px;
    }


    .tampilnama{
      font-size: 15px;
      width: 30%;
      margin-bottom: -10px;
    }

    .tampilharga{
      font-size: 15px;
      padding-top: 20px;
      width: 30%;
    }

    .error{
      margin-top: -80px;
    }

    .total-price{
      font-size: 15px;
      margin-bottom: 20px;
    }

    .product-image{
      margin-bottom: 20px;
    }

    .total-price{
      width: 30%;
      margin-top: 70px;
      margin-left: 50px;
    }
}  


 




/* Dekstop Version */
@media (min-width: 992px) {

    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7)
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .nav-masuk:hover::after {
        content: '';
        display: block;
        border-bottom: none;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -75px;
        height: 640px;
    }

    .jumbotron .display-4 {
        font-size: 62px;
    }

    .jumbotron .display-5 {
        color: white;
        margin-top: 30px;
        font-weight: 200;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        font-size: 40px;
        margin-bottom: 30px;
    }

    .jumbotron .display-5 span{
        background-color: #111;
        color: #fff;
        padding: 18px;
        font-size: 25px;
        letter-spacing: 10px; 
        border: 2px solid black;
    }

    .workingspace {
        text-align: left;
    }

    .testimonial h5 {
        font-size: 20px;
    }

     /*pesan*/

        .fixed-positioning {
          position: fixed;
          bottom: 0;
          right: 0;
          z-index: 1;
      }

      .chat-box {
          width: 350px;
          /*   border-radius: 3px; */
          box-shadow: -10px 10px 50px -10px rgba(0,0,0,0.4);
          background: #fff;
          overflow: hidden;
      }

      .chat-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          color: #fff;
          background: #00a1ff;
      }

      .chat-header button {
          color:#fff;
          background: transparent;
          padding: 3px;
          border: 1px solid #fff;
          border-radius: 3px;
          cursor:pointer;
      }

      .chat-content {
          padding: 0 15px;
          max-height: 0;
          overflow: hidden;
          transition: 1s ease-in-out;
      }

      .chat-content.active {
          padding: 15px 15px;
      }

      .chat-title {
          margin-bottom: 15px;
          text-align: center;
      }

      .chat-form {
          padding: 15px;
      }

      .chat-box input,
      .chat-box textarea,
      .chat-box label,
      .chat-box button[type=submit] {
          display: block;
          width: 100%
      }

      .chat-box input,
      .chat-box textarea {
          padding: 10px 15px;
          border-radius: 3px;
          border: 1px solid #b7b5b5;
          margin-bottom: 15px;
      }

      .chat-box textarea {
          min-height: 50px;
      }

      .chat-box label {
          color: #928f8f;
          font-size: 13px;
          margin-bottom: 2px;
      }

      .chat-box label span {
          color: #f00;
      }

      .chat-box button[type=submit] {
          -webkit-appearance: none;
          border-radius: 2px;
          background-clip: padding-box;
          background-color: #007bff!important;
          box-shadow: 0 2px 0 rgba(0,0,0,.1), inset 0 -3px 0 rgba(129,163,48,.3);
          font-size: 14px;
          color: #fff;
          padding: 9px 6px 11px;
          width: 100%;
          border: 0;
          cursor: pointer;
      }

      /*multi step*/
      .steps{
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #fff;
        text-align: center;
      }


      .steps li{
        display: inline-block;
        margin: 40px;
        color: #ccc;
        padding-bottom: 5px;
      }

      .steps li.is-active{
        border-bottom: 1px solid #3498db;
        color: #3498db;
      }

      /*map*/
      #map{
        width: 400px;
        height: 700px;
      }

      /*modal*/
      .modal-dialog .modal-content{
        width: 750px;
        margin: auto;
      }


      /*barang*/
      /* Global "table" column settings */
      .product-image {
        float: left;
        width: 20%;
      }

      .product-details {
        float: left;
        width: 37%;
      }

      .product-price {
        float: left;
       
      }

      .product-quantity {
        float: left;
      }

       .product-removal {
        float: left;
       
      }

      .product-line-price {
        float: left;
        width: 12%;
        text-align: right;
      }

      /* This is used as the traditional .clearfix class */
      .group:before,
      .shopping-cart:before,
      .column-labels:before,
      .product:before,
      .totals-item:before,
      .group:after,
      .shopping-cart:after,
      .column-labels:after,
      .product:after,
      .totals-item:after {
        content: '';
        display: table;
      }

      .group:after,
      .shopping-cart:after,
      .column-labels:after,
      .product:after,
      .totals-item:after {
        clear: both;
      }

      /*.group,
      .shopping-cart,
      .column-labels,
      .product,
      .totals-item {
        zoom: 1;
      }*/
      /* Column headers */
      /*.column-labels label {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #eee;
      }*/

      .column-labels .product-image,
      .column-labels .product-details,
      .column-labels .product-removal {
        text-indent: -9999px;
      }
      /* Product entries */
      .product {
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: none;
      }

      .product .product-image {
        text-align: center;
      }

      .product .product-price:before {
        content: 'Rp.';
      }

      .product .product-line-price:before {
        content: 'Rp.';
      }
      .totals .totals-item .totals-value:before {
        content: 'Rp.'
      }

      .product .product-image img {
        width: 100px;
      }

      .product .product-details .product-title {
        margin-right: 20px;
        font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
      }

      .product .product-details .product-description {
        margin: 5px 20px 5px 0;
        line-height: 1.4em;
      }

      .product .product-quantity input {
        width: 40px;
      }

      .product .remove-product {
        padding: 4px 8px;
        background-color: #007bff;
        color: #fff;
        font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
        font-size: 12px;
        border-radius: 3px;
      }

      .product .remove-product:hover {
        background-color: #4da6ff;
      }

      /* Totals section */
      .totals .totals-item {
        float: right;
        clear: both;
        width: 100%;
        margin-bottom: 10px;
      }

      .totals .totals-item label {
        float: left;
        clear: both;
        width: 79%;
        text-align: right;
      }

      .totals .totals-item .totals-value {  
        width: 30%;
        margin-top: 1px;
        margin-left: -20px;
        
      }

      .totals .totals-item-total {
        font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
      }

      /* list item satuan */
       .bintang {
        margin-top: 110px;
      }

      .icon1{
        margin-left: -20px;
      }

      .icon1:before{
        font-size: 40px;
        color: #007BFF;
      }

      .icon2{
        margin-left: -20px;
        color: #007BFF;
      }

      .icon2:before{
        font-size: 40px;
      }

      .icon3{
        margin-left: -20px;
        color: #007BFF;
      }

      .icon3:before{
        font-size: 40px;
      }

      .judul-icon{
        margin-left: 5px;
      } 

      /*testimonial*/
      .testimonial {
        margin-bottom: -200px;
      }


      /*footer*/ 
    .footer-top{
        background-color: #1e1f29;
        padding: 40px; 
        margin-bottom: -7.6%;
    }

    .footer-left{
        margin-right: 43px;
    }

    .footer-left a{
        margin-right: 2px;
        color: white;
    }

    .footer-left:hover a{
        text-decoration: none;
        color: #007bff;
    }

    .footer-left-1 a{
        margin-right: 80px;
        color: white;
    }

    .footer-left-1:hover a{
        text-decoration: none;
        color: #007bff;
    }


    /*essii*/
    .layar_essii{
      margin-top:  200px;
    }


    /*profil*/

    .tentang_saya{
      margin-left: 50px;
      margin-top: 20px;
    }

    .ganti_foto{
      position: absolute;
      top: 50%;
    }

    .ubah_saya1{
      padding: 15px 50px;
      margin-left: 50px;
    }

    .ubah_saya2{
      padding: 15px 50px;
      margin-right: 50px;
    }

    /*rating star*/
    .stars-outer {
      position: relative;
      display: inline-block;
      margin-top: 100px;
      margin-left: 200px;
    }

    .tittle-star{
       padding-top: 100px;
    }


    .stars-inner {
      position: absolute;
      top: 0;
      left: 0;
      white-space: nowrap;
      overflow: hidden;
      width: 0;
    }

    .stars-outer::before {
      content: "\f005 \f005 \f005 \f005 \f005";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #ccc;
    }

    .stars-inner::before {
      content: "\f005 \f005 \f005 \f005 \f005";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #f8ce0b;
    }
      

}